# Python virtual environment(kanji)
kanji/
env/
.env

# 2. database
jamdict.db
*.db

# Python cache
__pycache__/
*.pyc

# AI Model Weights
*.pt
*.pth
*.bin

# Sudachi Dictionary files
*.dic
*.model

# OS-specific
.DS_Store

# IDE settings
.vscode/
.idea/

# AI Model Weights
*.pt
*.pth
*.bin

#results
anki_deck.csv
anki_deck_*.csv

# test file
test*